@tailwind base;
@tailwind components;
@tailwind utilities;

.campaignSlider .slick-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carouselDots {
	position: absolute;
	width: 100%;
	bottom: 25px;
	text-align: center;
}

.carouselDots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.carouselDots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 15px;
	height: 15px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
	border-radius: 10rem;
	border: 2px solid white;
}

.carouselDots .slick-active button {
	width: 15px;
	height: 15px;
	background: #6bcc97;
	border: 2px solid #6bcc97;
	border-radius: 10rem;
}

.sectionTitle {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 900;
	margin: 40px 0;
}

/* .slick-slide {
	padding: 0 20px;
} */
